*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}
header{
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ff6900;
}

a{
    text-decoration: none;
    color: white;
}



header nav{
    background-color: #ff6900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
    align-items: center;
}

header nav ul{
    display: flex;
    font-size: 15px;
    align-items: center;

}

header nav ul li{
    padding: 10px;
    list-style-type: none;
    margin-top: 15px;
}

header nav figure div img{
    width: 100px;
    margin-top: 10px;
}


main {
    width: 80%; 
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 30px;
}

main img{
   width: 100%; 
}



.flex-pics{
    flex-basis: calc(100% / 3 - 1em);
    margin-top: 90px;
    bottom: 30px;
}

 footer{
   background-color: black;
   color: white;
   padding-block: 10px;

}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .container > div:first-child ul{
    display: flex;
    gap: 10px;
}

li{
    list-style-type: none;
}
.oldprice{
    text-decoration: line-through;
}

.newprice{
    color: red;
}

body header ul li a svg{
        fill: white;
        width: 14px;
        
}